{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="text-start">
  <p>
    Для получения <b>Api ID</b> и <b>Api Hash</b> пройдите по ссылке <a target='_blank' href='https://my.telegram.org/auth'>my.telegram.org</a> и зарегистрируйте приожение.<br>
    <b>Важно:</b> номер телефона и IP должны быть одной страны. После успешной активации, изменить бота нельзя.
  </p>
</div>

<hr>

<form method="POST" >
    {% csrf_token %}
    <input type="hidden" name="owner" value="{{user.pk}}">
    
    <div class="row justify-content-center">
      <div class="col-4">
        {% bootstrap_field form.api_id placeholder=''%}
      </div>
      <div class="col-4">
        {% bootstrap_field form.api_hash placeholder='' %}
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-4">
        {% bootstrap_field form.phone placeholder='+7 926 000 00 00'%}
      </div>
      <div class="col-4">
        {% bootstrap_field form.password placeholder='1234'%}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        {% bootstrap_field form.session_name placeholder='moscow_salles'%}
      </div>
      <div class="col-4">
        {% bootstrap_field form.recipient placeholder='impuls_64'%}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        {% bootstrap_field form.keywords_table %}
      </div>
      <div class="col-4">
        {% bootstrap_field form.excluded_words_table %}
      </div>
    </div>

    <div class="d-grid gap-2 col-4 mx-auto p-3">
      <button type="submit" class="btn btn-primary">{{ button}}</button>
    </div>
</form>

{% endblock %}