{% extends 'base.html' %}

{% block content %}
<h1 class="display-6 text-center">Телеграмм Бот Парсер <img src="https://cdn.icon-icons.com/icons2/923/PNG/256/telegram_icon-icons.com_72055.png" width="60" height="60" alt="icon tg"></h1>
<div>
  <p class="fs-6 text-body-secondary text-center">Добро пожаловать <b>{{user}}</b>, в нашего уникального Telegram-бота парсера! Мы представляем инновационное решение, способное мгновенно извлекать и анализировать все входящие сообщения из групп и чатов в режиме реального времени.</p>
  <p class="fs-6 text-body-secondary text-center">Наш бот оснащен передовыми алгоритмами парсинга, которые позволяют непрерывно мониторить активные чаты и группы в Telegram, автоматически собирая ценные данные и информацию из каждого сообщения. Благодаря этому, вы сможете оперативно получать обновленные результаты и оперативно реагировать на актуальную информацию.</p>
  <p class="fs-6 text-body-secondary text-center">Мы предлагаем широкий спектр функций, включая анализ содержания сообщений, извлечение ключевых слов, классификацию по темам и даже возможность настраивать специальные фильтры для получения именно той информации, которая вам нужна. Все это доступно в режиме реального времени, чтобы вы всегда были в курсе событий и могли принимать обоснованные решения.</p>
  <p class="fs-6 text-body-secondary text-center">Наш бот парсера - надежный помощник для тех, кто ценит время и стремится быть впереди. Подключитесь к нам сегодня и получите уникальную возможность моментального доступа к ценным данным из мира Telegram. Откройте дверь в мир безграничных возможностей парсинга в режиме реального времени уже сейчас!</p>
</div>
{% endblock %}