from searcher.basic import BasicSearchBot, Tables


def main():
    bot = BasicSearchBot(
        session_name='SESSION_NAME',
        api_id=API_ID, 
        api_hash='API_HASH',
        recipient='RECIPIENT',
        db_name='db.sqlite3',
        tables=Tables(
            messages='tgparser_chatmessage',
            keywords='KEYWORDS',
            excluded_words='EXCLUDED_WORDS',
            blocked_users='tgparser_blockedusers'
        )
    )
    bot.start_bot()


if __name__ == '__main__':
    main()
